body{
    background-image:url(BODY.jpg);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-attachment: fixed;
    overflow-y:hidden;
    overflow-x:hidden;
    overflow: hidden;
}

section{
    overflow: hidden;
}

.clock{
    box-shadow:1px 1px 1px red;
}

.PERDU{
    position:absolute;
    text-align:center;
    left:35%;
    top:15%;
    color:white;
    text-shadow:1px 1px 1px lime,
    2px 2px 2px lime,
    3px 3px 3px lime,
    4px 4px 4px lime,
    5px 5px 5px lime,
    6px 6px 6px lime,
    7px 7px 7px lime,
    8px 8px 8px lime,
    9px 9px 9px lime,
    10px 10px 10px lime;
    font-size:4em;
    font-family: 'hacked';
    transform:rotateX('45deg');
}

#countUp{
    width:100%;
    height:100px;
    transform:rotateX("270deg");
    color:white;
    text-shadow:1px 1px 1px red,
    2px 2px 2px red,
    3px 3px 3px red,
    4px 4px 4px red,
    5px 5px 5px red,
    6px 6px 6px red,
    7px 7px 7px red,
    8px 8px 8px red,
    9px 9px 9px red,
    10px 10px 10px red;
    font-size:100px;
    font-family:'hacked';
    text-align:center;
}

h4{
    color:white;
    text-shadow:1px 1px 1px red;
}

.titlePrincipal{
    font-family:'hacked';
    text-align:center;
    color:white;
    font-size:2.5rem;
    margin-top:5%;
    text-shadow:1px 1px 1px #ff0000,
    2px 2px 2px #40ff00,
    3px 3px 3px #44ff00b4,
    4px 4px 4px #44ff00b7,
    5px 5px 5px #44ff00c4,
    6px 6px 6px #44ff008a,
    7px 7px 7px #44ff0096,
    8px 8px 8px #44ff006b,
    9px 9px 9px #44ff0056,
    10px 10px 10px #44ff001c;
    animation: deplacementTitre 5s;
    text-decoration: overline;
}

#image{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 132px;
}

#container{
    margin-left:auto;
    margin-right: auto;
    width:850px;
    height:395px;
    display:flex;
    z-index:100;
    overflow: hidden;
    position: relative;
    z-index:1;
}

.containerImage{
    border:3px solid black;
    margin-left:auto;
    margin-right: auto;
    width:80%;
    height:395px;
    z-index:100;
    justify-content:center;
    overflow: hidden;
    margin-top:10%;
    position: relative;
}

.hero{
    position: absolute;
    visibility: visible;
    border:1px solid white;
    z-index: 100;
    width:50px;
    height:50px;
    margin-top:-130px;
    margin-left:180px;
}

.boutonDeFin{
    width:50px;
    height:50px;
    position:absolute;
}

.footer{
    text-align:center;
    color:white;
    text-decoration:underline;
    font-style: italic;
}

@keyframes deplacementTitre{
    0%{
        transform: rotate(0deg);
        opacity:0;
        color:none;
        text-shadow: 1px 1px 1px lime;
    }
    50%{
        transform: rotate(180deg);
        opacity:0.5;
        color:red;
        text-shadow:1px 1px 1px lime,
        2px 2px 2px lime,
        3px 3px 3px lime,
        4px 4px 4px lime,
        5px 5px 5px lime;
    }
    100%{
        transform:rotate(0deg);
        opacity:1;
        color:none;
        text-shadow:1px 1px 1px lime,
        2px 2px 2px lime,
        3px 3px 3px lime,
        4px 4px 4px lime,
        5px 5px 5px lime,
        6px 6px 6px lime,
        7px 7px 7px lime,
        8px 8px 8px lime,
        9px 9px 9px lime,
        10px 10px 10px lime;
        font-family:'hacked';
    }
}

/* BLOCK HAUT PIC */

.containerBlockHaut{
    width:100%;
    height:50px;
    margin-top:30.3%;
    background:red;
}
@keyframes transitionEnnemie{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* DIV BLOCK BAS DANGER */
.pics{
    border:3px solid black;
    width:100%;
    HEIGHT:10px;
}

/* COMPTEURS */
.clock{
    border:1px solid white;
    width:20%;
    height:100px;

}

/* CONTAINER PLATEFORME 2 */

.containerEnnemie2{
    width:3000px;
    height:5%;
    position:absolute;
    left:-10%;
    bottom:183px;
}

.block2{
    background:red;
    border-radius: 25px;
    height:100%;
    width:10%;
    position:absolute;
    left:10%;
    animation:jeux2 40s infinite;
    overflow:hidden;
}

/* CONTAINER PLATEFORME 3 */

.containerEnnemie3{
    width:3000px;
    height:5%;
    position:absolute;
    left:-10%;
    bottom:273px;
}

.block3{
    background:red;
    border-radius:15px;
    height:100%;
    width:10%;
    position:absolute;
    left:5%;
    animation:jeux 20s infinite;
}

/* ANIMATION JEUX */

@keyframes jeux{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translateX(25%);
    }
    50%{
        transform: translateX(50%);
    }
    75%{
        transform: translateX(-25%);
    }

    85%{
        transform: translateX(-50%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes jeux2{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(25%);
    }

    85%{
        transform: translateX(50%);
    }

    100%{
        transform: translateX(0);
    }
}

/* BLOCK A EVITER */
.containerEnnemieDeLanceDeLancerDeCubeAleatoire1{
    border:1px solid purple;
    background-color:purple;
    width:5%;
    height:265px;
    position:absolute;
    left:5%;
    top:-105px;
    display:block;
    animation:decalageDeJeux 5s infinite;
 }
 .containerEnnemieDeLanceDeLancerDeCubeAleatoire2{
    border:1px solid purple;
    background-color:purple;
    width:5%;
    height:265px;
    position:absolute;
    left:12%;
    top:-105px;
    display:block;
    animation:decalageDeJeux2 5s infinite;
}

/* KEYFRAMES DECALAGE DE JEUX */

@keyframes decalageDeJeux{
    0%{
        top:-105px;
    }
    50%{
        top:-200px;
    }
    100%{
        top:-105px;
    }
}